<div id="" style="min-height: 1253px">
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure>
              <img
                src="../../../assets/images/signin-image.jpg"
                alt="sing up image"
              />
            </figure>
          </div>
  
          <div class="signin-form">
            <h2 class="form-title">Login</h2>
            
                <app-login></app-login>

          </div>
        </div>
      </div>
    </section>
  </div>
  
  <router-outlet></router-outlet>
  