<form
  class="register-form"
  id="login-form"
  [formGroup]="userFrm"
  (ngSubmit)="login()"
>
  <div class="form-group">
    <label for="your_name"
      ><i class="zmdi zmdi-account material-icons-name"></i
    ></label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Your Name"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>
  <div class="form-group">
    <input
      type="checkbox"
      name="remember-me"
      id="remember-me"
      class="agree-term"
    />
    <label for="remember-me" class="label-agree-term"
      ><span><span></span></span>Remember me</label
    >
  </div>
  <div class="form-group form-button">
    <input
      type="submit"
      name="signin"
      id="signin"
      class="form-submit"
      value="Log in"
    />
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button
        type="button"
        class="btn btn-danger btn-block"
        (click)="tryGoogleLogin()"
      >
        Login with Google
      </button>
    </div>
  </div>
</form>
